<body>
  <div class="valign-wrapper row login-box">
    <div class="col card hoverable s6 pull-s3">
      <form [formGroup]="formulario" (ngSubmit)="AutenticarUsuario()">
        <div class="alert-danger" *ngIf="false">
          <p>Carregando Usuário....</p>
        </div>
        <div class="card-content">
          <div class="row">
            <div class="col s7">
              <img class="responsive-img" src="../../assets/ImagemLogin.gif">
            </div>
            <div class="col s5">
              <div class="row">
                <div class="input-field">
                  <input type="text" name="Usuario" [class.invalid]="VerificaCampoValido('login')" id="txtUsuario"
                    formControlName="login" />
                  <label for="txtUsuario">Login</label>
                  <span class="helper-text" data-error="Insira um Login"></span>
                </div>
              </div>
              <div class="row">
                <div class="input-field">
                  <input type="password" name="Senha" id="txtSenha" formControlName="senha" [class.invalid]="VerificaCampoValido('senha')" />
                  <label for="txtSenha">Senha</label>
                  <span class="helper-text" data-error="Insira uma Senha"></span>
                </div>
              </div>
              <div class="row right-align">
                <button class="btn green waves-effect waves-light" type="submit">Acessar
                  <i class="material-icons right">send</i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>
