/* login css */
body {
  /* display: flex;
  align-items: center; */
  background: linear-gradient(rgba(191, 230, 199, 0.473), white);
}

.login {
  width: 100%;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 50px 0px 30px 30px;
}

.login-box {
  height: 95%;
}
